; HTTP connection settings to limit incoming calls.
; The usage of this security meassures is to limit access to the backend
; Since the frontend is a static http website, possibilites are limited
; A skilled attacker will probably manage to get passed all those meassures.

; the shared secret is visible to anyone reading the http clients input hidden field
; therefore this key is just to reduce dumb bruteforce attacks from the internet.
shared_secret = "{{ shared_secret }}";
; referer filter. Also a basic secuiry meassure. HTTP headers can still be spoofed
referer_filter = "{{ frontend.url }}";
; show unified not allowed mesage to unauthorized clients to not leak information
not_allowed_msg = "Not allowed"
; header that we will check during the second CORS call
; read more https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
; its safe to assume that the HTTP_X_REQUESTED_WITH header could have been spoofed
xml_http = "XMLHttpRequest"
; recaptcha secret will be use to send a POST request to Google for verification
; captcha is sent by front-end or someone pretending to be the frontend
recaptcha_secret = "{{ recaptcha_secret }}"; your google recapchta backend token
; Passed this stage we do not offer any more security and allow access.
; once an attacker breached all security we just slow the sending service down
sleep_seconds = 2 ; delay of proccessing in seconds

; attachment setting
max_file_size = 2000000 ; max size per attachment. By default 2MB
; list of allowed mime types sepearated with comma
; by default allow common image formats, pdf, doc, docx and pdf
allowed_mime = image/bmp, image/gif, image/jpeg, image/png, image/svg+xml, image/tiff, image/x-icon, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.oasis.opendocument.text
