; general mail config
[mail]
mail_to = "{{ mail.to }}";
mail_subject = "{{ mail.subject }}";

; SMTP settings
[SMTP]
smtp_agent = "{{ smtp.agent }}" ; "mail" to use systems mail server such as sendmail or Postfix, 
; set smtp_agent to "SMTP" to use external host
smtp_from = "{{ smtp.from }}" ; PHPMailer uses root@localhost as default from
; when agent is SMTP you need to provide the following information
smtp_host = "{{ smtp.host }}"; server to use, e.g., smtp.google.com
smtp_port = "{{ smtp.port }}" ; the smtp port to use
smtp_username = "{{ smtp.username }}" ; user to login to smtp_host
smtp_password = "{{ smtp.password }}" ; password to login to smtp_host

